#mapid {
  height:100vh;
  position: relative;
}

path{
  fill: none;
  stroke-width: 5;
}

path:hover{
  stroke-width: 10;
}

.leaflet-popup-content-wrapper{
  color: white;
}

.leaflet-popup-tip{
  background: black;
}
.leaflet-popup-tip-container{
  overflow: unset;
}


.leaflet-popup-close-button {
display:none;
}

.leaflet-popup-content{
  margin: 0;
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: transparent;
  box-shadow: unset;
}

#settings {
  padding: 0;
  background: rgba(0, 0, 0, 0.445);
  z-index: 10000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  transition: width 0.3s  ease-in-out;
}

.bp{
  display: flex;
  height: 100vh;
  width: 100%;
}

#popUp{
  height: 100%;
  width: 100%;
  background: black;
  padding: 1rem;
}

#popUp-wrapper{
  min-width: 12rem ;
  padding-top: 1rem;
  background: #FF9C07;
  border-radius: 10px;
  overflow: hidden;
}

#popUp-header{
  color: white;
  position: absolute;
  top: 2px;
  font-family: Roboto, Arial;
  font-size: 20px;
  font-weight: bold;
  left: 1rem;
}

.popUp-container{
  display: flex;
  background: black;
  align-items: center;
}

.popUp-container img{
  margin-right: 1rem;
}

.popUp-container.rating-button {
  /* float: right; */
}

.popUp-container.rating-button button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.popUp-container.rating-button button img {
  margin: 0px;
  width: 40px;
  height: 40px;
}

.popUp-container-wrapper{
  display: flex;
  flex-direction: column;
  background: black;
  padding: 1rem;
}

.popUp-container-icon{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

#ratingIcon{
  width: 20px;
  height: 20px;
}
