#mapid {
  height:100vh;
}

.my_polyline{
  stroke: green;
  fill: none;
  stroke-dasharray: 10,10;
  stroke-width: 5;
}

.leaflet-popup-content-wrapper{
  color: white;
}

.leaflet-popup-tip{
  background: black;
}
.leaflet-popup-tip-container{
  overflow: unset;
}


 .leaflet-popup-close-button {
display:none;
}

.leaflet-popup-content{
  margin: 0;
}

#popUp{
  height: 100%;
  width: 100%;
  background: black;
}

#popUp-wrapper{
  min-width: 8rem ;
  padding-top: 15px;
  background: #FF9C07;
  border-radius: 10px;
  overflow: hidden;
}
