#mapid { 
  height:100vh; 
}

path{
  stroke: green;
  fill: none;
  stroke-width: 5; 
}

path:hover{
  stroke-width: 10; 
}

.leaflet-popup-content-wrapper{
  color: white;
}

.leaflet-popup-tip{
  background: black;
}
.leaflet-popup-tip-container{
  overflow: unset;
}

.leaflet-top, .leaflet-popup-close-button {
  display: none;
}

.leaflet-popup-content{
  margin: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: transparent;
  box-shadow: unset;
}

#popUp{
  height: 100%;
  width: 100%;
  background: black;
}

#popUp-wrapper{
  min-width: 8rem ;
  padding-top: 15px;
  background: #FF9C07;
  border-radius: 10px;
  overflow: hidden;
}
