
.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-bar, .leaflet-zoomin, .leafletzoomout{
  border:none !important;
right: 30px !important;
bottom: 30px !important;
float: right !important;
font-size: 18px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: transparent;
  box-shadow: unset;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  background-color: black  !important;
  border:none !important;
  border-radius: 50% !important;
  margin: 10% !important;
  width: 40px !important;
  height: 40px !important;
}

 .leaflet-container a, .leaflat-bar a{
color: white !important;
font-size: 20px !important;
line-height: 40px!important;

}


.leaflet-control-zoom-in{
  margin-bottom: 6vh !important;

}

.leaflet-control-zoom-out{

}

.leaflet-bottom {
  display: none;
}

#filterButtonContainer {
  top: 20px;
  left: 20px;
  position: absolute;
  z-index: 20000000 !important;
  margin-bottom: 30px;
}

#filterButton {
  position: absolute;
  font-size: 1.7vh;
  cursor: pointer;
}

.buttonWrapper {
  position: absolute;
  bottom: 200px;
  right:200px;
  z-index: 2000000000;
  cursor: pointer;
}

i {
  color: white;
  text-align: center !important;

}

.searchbar {
  background-color: black;
  height: 50px;
  width:220px;
  position: relative;
  top: 25px;
  left: 90px;
  z-index: 200000;
  border-radius: 10px;
}

.searchBarObject {
  margin: auto;
  width: 90%;
  height: 50%;
  background-color: black;
  line-height: 7vh;

}

input {
  color: white;
  font-size: 1.5vh;
  background-color: black;
  margin: auto;
  width: 80%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    display: inline-block;
}

.searchBarObject button {
  background-color: transparent;
  border:none;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(0%, -50%);
  float: right;
}

.logo {
  background-color: black;
  top: 75px;
  left: 30px;
  position: relative;
  width:50px;
  height: 50px;
  border-radius: 50%;
  z-index: 30000000;
}

.logoObjekt {
  width: 40px;


}

.logoObjekt img {
    width:35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
      display: inline-block;
}

#settings {
  font-family: sans-serif;
}

.controlls_header {
  padding: 1rem;
  color: white;
  font-size: 2rem;
  margin-top: 1rem;
}

.controlls_settings {
  display: flex;
  color: white;
  width: 70%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 1rem;
}

#controlls_toggle_user_feedback {
  background-color: grey;
  color: white;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
}

#controlls_toggle_user_feedback.active {
  background-color: green;controlls_header
}

.street-name{
  font-family: Roboto, Arial;
  font-size: 1.5rem;
  padding-left: 1rem;
}
