.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-bar{
  border:none !important;
margin-left: 92vw;
margin-top: 80vh !important;
float: right !important;

}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: transparent;
  box-shadow: unset;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  background-color: black  !important;
  border:none !important;
  border-radius: 50% !important;
  margin: 10% !important;
  width: 4vh !important;
  height: 4vh !important;
}

.leaflet-control-zoom-in a, .leaflet-control-zoom-out a, .leaflet-container a{
color: white !important;
display: flex !important;
align-items: center !important;
text-align: center !important;
margin-left: auto !important;
margin-right: auto !important;
}


.leaflet-control-zoom-in{
  margin-bottom: 6vh !important;

}

.leaflet-control-zoom-out{

}

.leaflet-bottom {
  display: none;
}

#filterButton {
  float: right;
  margin-top: 20vh;
  margin-left: 80vw;
  z-index: 20000000 !important;
}
