
.leaflet-touch .leaflet-control-layers,.leaflet-touch .leaflet-bar, .leaflet-zoomin, .leafletzoomout{
  border:none !important;
margin-left: 92vw;
margin-top: 80vh !important;
float: right !important;
font-size: 18px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
  background: transparent;
  box-shadow: unset;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
  background-color: black  !important;
  border:none !important;
  border-radius: 50% !important;
  margin: 10% !important;
  width: 4vh !important;
  height: 4vh !important;
}

 .leaflet-container a, .leaflat-bar a{
color: white !important;

line-height: 4vh !important;

}


.leaflet-control-zoom-in{
  margin-bottom: 6vh !important;

}

.leaflet-control-zoom-out{

}

.leaflet-bottom {
  display: none;
}

#filterButtonContainer {
  top: 50%;
  left: 50%;
  position: relative;
  z-index: 20000000 !important;
  margin-bottom: 50vh;
}

#filterButton {
<<<<<<< HEAD
  position: absolute;
  font-size: 1.7vh;

=======
  cursor: pointer;
>>>>>>> d369405a0d71ab893b1eea0b8c2a11fbedadd145
}

.buttonWrapper {
  position: absolute;
  top: 70vh;
  right: 2vw;
  z-index: 2000000000;
  cursor: pointer;

}

i {
  color: white;
  text-align: center !important;

}

.searchbar {
  background-color: black;
  height: 5vh;
  width: 15vw;
  position: relative;
  top: 8vh;
  left: 5vw;
  z-index: 200000;
  border-radius: 10px;
}

.searchBarObject {
  margin: auto;
  width: 90%;
  height: 50%;
  background-color: black;
  line-height: 7vh;

}

input {
  color: white;
  font-size: 1.5vh;
  background-color: black;
  margin: auto;
  width: 80%;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    display: inline-block;
}

.searchBarObject button {
  background-color: transparent;
  border:none;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(0%, -50%);
float: right;
}

.controlls_header{
  padding: 1rem;
  color: white;
  font-family: Roboto;
  font-size: 2rem;
  margin-top: 2rem;
  
}

.controlls_settings{
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5rem;
  margin-left: 1rem;
}

.controlls_settings_red{
  background-color: #DF4848;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
  cursor: pointer;
}

.controlls_settings_orange{
  background-color: #FF9C07;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
  cursor: pointer;
}

.controlls_settings_green{
  background-color: #57C571;
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 2rem;
  border: none;
  cursor: pointer;
}

